<% footer = {
  txt1 : '〒522-0025  滋賀県彦根市野田山町1058-1',
  txt2 : 'Tel 0749-26-2528',
  txt3 : '※ 受付時間は、午前 : 11:45・午後 : 19:15となります。',
  txt4 : '※ 火曜日と祝日午後は休診です。',
  txt5 : '※ ▲:日曜の午後は６時までの診療になります。',
  txt6 : '※ 8月～2月の日曜午後は不定期診療となります。',
  txt7 : '2020年7月より診察は予約制になります。受付時間は診察終了の15分前になります。<br><br>時間外や休診日診療に関しては、お電話にて確認後、可能であれば診察させていただきます。<br><br>連絡が取れない場合は、申し訳ございませんが、夜間動物病院等での受診をお願いいたします。',
  txt8 : 'SITE MAP',
  txt9 : 'Copyright 2022 野田山動物病院',
  btn : 'WEB予約受付'
} %>
<% var footer_menu = [
  {href:'./staff/staff.html' , txt:'  ▶︎  スタッフ紹介'},
  {href:'./health/health.html' , txt:'  ▶︎  診療案内'},
  {href:'./about/about.html' , txt:'  ▶︎  院内設備'},
  {href:'./access/access.html' , txt:'  ▶︎  アクセス'},
  {href:'./reqruit/reqruit.html' , txt:'  ▶︎  求人募集'}
] %>
<% var footer_about = [
  {href:'' , txt:' - 整形外科'},
  {href:'./tooth/tooth.html' , txt:' - 歯科'},
  {href:'./health/health.html' , txt:' - 健康診断'},
  {href:'./prevention/prevention.html' , txt:' - 予防'}
] %>
<% var footer_ad = [
  {url:'', class:'l-footer__ad__right__1' ,img:'./asset/images/Line.png'},
  {url:'', class:'l-footer__ad__right__2' ,img:'./asset/images/staffblog.png'},
  {url:'', class:'l-footer__ad__right__3' ,img:'./asset/images/oasis.png'},
  {url:'', class:'l-footer__ad__right__4' ,img:'./asset/images/swingtails.png'}
] %>
 </main>
    <footer class="l-footer">
      <div class="l-footer__ad">
        <div class="l-footer__ad__left">
          <a href="" class="l-footer__ad__left__facebook">
            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fnodayama.ah&tabs=timeline&width=570&height=685&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="570" height="685" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
          </a>
        </div>
        <div class="l-footer__ad__right">
          <% for(var i=0; i<footer_ad.length; i++){ %>
            <div class=<%- footer_ad[i].class %>>
              <a class="l-footer__ad__right__link" href=<%- footer_ad[i].url %>>
                <img alt="none" class="l-footer__ad__right__link__img" src=<%- footer_ad[i].img %>>
              </a>
            </div>
          <% } %>
        </div>
        <div class="l-footer__ad__animals">
          <img src="./asset/images/animals.png" alt="none">
        </div>
      </div>
      <div class="l-footer__green">
        <div class="l-footer__green__left">
          <a href="" class="l-footer__green__left__logo">
            <img src="./asset/images/logo_white.png" alt="none" class="l-footer__green__left__logo__img">
          </a>
          <div class="l-footer__green__left__txt">
            <p class="l-footer__green__left__txt__p"><%- footer.txt1 %></p>
            <p class="l-footer__green__left__txt__p--tel"><%- footer.txt2 %></p>
          </div>
          <div class="l-footer__green__left__btn">
            <a href="" class="c-button">
              <p class="c-button__txt"><%- footer.btn %></p>
            </a>
          </div>
          <div class="c-schedule">
            <img src="./asset/images/schedule.png" alt="none" class="c-schedule__img">
            <div class="c-schedule__txt">
              <p class="c-schedule__txt--pc"><%- footer.txt3 %></p>
              <p class="c-schedule__txt--sp"><%- footer.txt4 %></p>
              <p class="c-schedule__txt--sp"><%- footer.txt5 %></p>
              <p class="c-schedule__txt--pc"><%- footer.txt6 %></p>
            </div>
          </div>
          <div class="l-footer__green__left__attention"><%- footer.txt7 %></div>
        </div>
        <div class="l-footer__green__right">
          <div class="l-footer__green__right__txt">
            <p class="l-footer__green__right__txt__p"><%- footer.txt8 %></p>
            <br>
            <ul class="l-footer__green__right__txt__list">
              <% for(var i=0; i<footer_menu.length; i++){ %>
                <% if(footer_menu[i].txt=='  ▶︎  診療案内'){ %>
                  <a class="l-footer__green__right__txt__list__a" href=<%- footer_menu[i].href %>><%- footer_menu[i].txt %></a>
                  <br>
                  <% for(var j=0; j<footer_about.length; j++){ %>
                    <li class="l-footer__green__right__txt__list__li">
                      <a class="l-footer__green__right__txt__list__a" href=<%- footer_about[j].href %>><%- footer_about[j].txt %></a>
                    </li>
                    <br>
                  <% } %>
                  <br><br>
                <% }else{ %>
                  <a class="l-footer__green__right__txt__list__a" href=<%- footer_menu[i].href %>><%- footer_menu[i].txt %></a>
                  <br><br>
                <% } %>
              <% } %>
            </ul>
          </div>
        </div>
        <div class="l-footer__green__staff">
          <a class="l-footer__green__staff__link" href=<%- footer_ad[1].url %>>
            <img alt="none" class="l-footer__green__staff__link__img" src=<%- footer_ad[1].img %>>
          </a>
        </div>
      </div>
      <div class="l-footer__black">
        <p class="l-footer__black__p"><%- footer.txt9 %></p>
      </div>
    </footer>
    <script src="./asset/js/menu.js"></script>
  </body>
</html>